html{
  background-color: #3b83bd;
  font-family: 'Montserrat', sans-serif;
}
 
h1{
  color: #2bc4ff;
  text-shadow: 2px 2px 2px #3b83bd;
  font-size: 60px;
}

h3{
  color: #2bc4ff;
}

p{
  color: #808080;
}

ul{
  color: #808080;
}

body{
  width:600px;
  margin:0px auto;
  background-color: white;
  padding: 0px 20px 20px 20px;
  border: 5px solid #00aae4;
}

 #bird {
  position: absolute;
  left: 0px;
}
